{% extends 'clients/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h4>Уведомление </h4>
                </div>
                <div class="card-body">
                  <p>Ваш пароль успешно сброшен. Новый пароль выслан на указанный почтовый адрес.</p>
                  <a href="{% url 'clients:index' %}" class="btn btn-secondary">На главную страницу</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}