{% extends 'clients/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h4>Сброс пароля</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Пожалуйста, введите действующую электронную почту для отправки сгенерированного пароля</p>
                        <label for="basic-addon1" class="form-label">Электронная почта</label>
                        <div class="input mb-3">
                            <input type="email" class="form-control" aria-describedby="basic-addon1"
                                   id="basic-addon1" name="email" placeholder="Email...">
                        </div>
                        {% if user %}
                        {% else %}
                            <p class="text-danger">Такого пользователя не существует</p>
                        {% endif %}
                        <button type="submit" class="btn btn-danger">Отправить</button>
                        <a href="{% url 'clients:index' %}" class="btn btn-primary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}