{% extends 'clients/base.html' %}

{% block content %}
{% include 'clients/includes/inc_title.html' %}
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Клиенты</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Добавление клиента</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Количество уникальных клиентов: <strong>{{ all_clients }}</strong></li>
                <li>Конфидициально</li>
                <li>Скорость</li>
            </ul>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'client:add_client' %}">Добавить
                клиента</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Рассылки</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Создание сообщения</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Рассылка по email</li>
                <li>Количество всех рассылок: <strong>{{ all_senders }}</strong></li>
                <li>Количество активных рассылок: <strong>{{ active_senders }}</strong></li>
            </ul>
            <a href="{% url 'sender:add_mail' %}" class="btn btn-lg btn-block btn-outline-primary">Добавить письмо</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Блог</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">Просмотр статей</h1>
            <ul class="list-unstyled mt-3 mb-4">
                {% for blog in blogs %}
                <li>
                    {{ blog.title }}
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'blog:blog_list' %}" class="btn btn-lg btn-block btn-outline-primary">Все статьи</a>
        </div>
    </div>
</div>
{% endblock %}